button.btn-link {
  color: orange;
  cursor: pointer;
  font-size: 20px;
}
img.input {
  max-height: 350px;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #bfbfbf;
  flex: 1 0 auto;
}
.assist-move.container {
  border-style: double;
  border-color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/triangles.png');

}

.content-container {
  margin-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.category {
  padding: 20px;
  margin: 10px;

}

.character-selector {
  list-style: none;
  overflow: hidden;
}

.error {
  list-style: none;
}
.card {
  background-image: url('/triangles.png');
  
}

.card .btn-link {
  color: orange;
}
.card .card-header {
  border: grey;
  border-style: solid;
}

.card .card-body {
  border-top: grey;
  border-bottom: grey;
  border-style: solid;
  padding-left: 0px;
  padding-right: 0px;
}

.character-selector > img {
  width: 75%;
}

.character-selector > li {
  display: inline-block;
  margin-left: -2.5em;
  margin-bottom: -1em;
  transform: scale(.75);
}

.character-picture > img {
  height: 500px;
}

.container {
margin: 100px, 0px, 100px, 0px;
}

.dropdown {
  position: inherit;
}

.dropdown-item {
  padding: 0px;
  width: auto; 
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-menu {
  background-image: url('/broken_noise.png');
}
.footer {
  width: 100%;
  height: 75px;
  background-image: url('/broken_noise.png');
  position: relative;
  bottom: 0;
}

.footer a {
  color: orange;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

hr {
  border-top: 2px solid grey;
}

.image-toggle u{
  font-size: small;
}
.kame-intro img {
  max-height: 200px;
  vertical-align: middle;
}

.kame-nav .nav-link a {
  color: orange;
}

.loading-container > img {
  width: 100%;
}

.navbar {
  background-image: url('/broken_noise.png');
}

.navbar-light .navbar-nav .nav-link {
  color: orange;
}

.navbar-brand a {
  color: orange;
}

.navbar .nav-link a {
  color: orange;
}

.navbar .btn-link {
  color: orange;
}


.navbar-light:hover .navbar-nav:hover .nav-link:hover{
  color: purple;
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: orange;
  margin-bottom: 5px;
}

.notes-box{
  white-space: pre-wrap;
}

.notes-box a{
  color: orange;
}

.normal-move.container {
  border-style: solid;
  border-color: black;
}

.normal-move h4 {
  text-decoration: underline;
}
.normal-move p {
  font-size: larger;

}

.normal-move img {
  max-height: 300px;
  vertical-align: middle;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  z-index: 1;
}

.scroll-to-top .btn-primary {
  color: black;
  background-color: orange;
  border: orange;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.special-move.container {
  border-style: solid;
  border-color: black;
}

.special-move img {
  max-height: 300px;
  vertical-align: middle;
}

.special-move p {
  font-size: larger;
}
.super-move.container {
  border-style: solid;
  border-color: black;
}
.super-move p {
  font-size: larger;
}

.super img {
  max-width: 350px;
}
.universal-selector  {
  list-style: none;
  overflow: hidden;
}
.universal-selector li {
  display: inline-block;
  margin-left: -2.5em;
  margin-bottom: -1em;
  transform: scale(.75);
}

.universal-icon {
  transform: scale(.15);
}

.universal-move {
  border: grey;
  border-style: solid;
}

.universal-move img {
  max-height: 300px;
  vertical-align: middle;
}
.variants.row {
  margin: 0;
}

.variants.container {
  border-style: double;
  border-color: black;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  color: #bfbfbf;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}