body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.category {
  padding: 20px;
  margin: 10px;

}

.character-selector {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}

.character-selector > img {
  width: 75%;
}

.character-selector > li {
  float: left;
  margin-left: -1em;
}


.dropdown {
  position: inherit;
}
.dropdown-item {
  padding: 0px;
  width: auto;
  
}

.dropdown-item:hover {
  background-color: transparent;
}



.character-picture > img {
  height: 500px;
}

.loading-container > img {
  width: 100%;
}

.container {
  margin: 100px, 0px, 100px, 0px;
}