body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: inline;
}

.category {
  padding: 20px;
  margin: 10px;

}

.character-selector {
  display: inline-flex;
  list-style: none;
}
.dropdown-item {
  
  padding: 0px;
  width: auto;
}

.row {
  display: inline-flex;
}

.character-picture > img {
  height: 500px;
}
.container {
  margin: 100px, 0px, 100px, 0px;
}